.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    text-align: center;
}

hr{
    margin: 0;
}

.hero{
    background-image: url(/img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 450px;
    position: relative;
}

.contenido-hero{
    position: absolute; /*Para poner absolute hay que ponerle primero al padre position relative*/
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
    text-align: center;
}

.contenido-hero .ubicacion{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) { 
    .contenido-hero .ubicacion{
        flex-direction: row;
        gap: 3rem;
    }
    
}

.leyenda{
    padding: 1rem;
    text-align: center;
}

.main .p1{
    font-size: 3rem;
    font-weight: 600;
}

@media (min-width: 768px) { 
    .leyenda{
        color: var(--oscuro);
        padding: 10rem;        
    }
}

.favoritos{
    background-color: var(--pielPastel);
}

.favoritos h3{
    color: var(--primario);
}

.plato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favoritos .contenido{
    text-align: center;
    width: 26rem;
}

.plato img{
    width: 20rem;
}

.plato2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.plato2 img{
    width: 20rem;
}

@media (min-width: 768px) { 
    .plato{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .favoritos img{
        width: 32rem;
    }

    .favoritos .contenido{
        text-align: center;
        font-size: 2.5rem;
        width: 70rem;
    }
    .plato2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
}

.pedidos-comida{
    background-image: url(/img/condimentos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order{
    background-color: var(--primario);
    width: 40rem;
    height: 40rem;
    text-align: center;
    color: var(--pielPastel);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.order .boton{
    background-color: var(--grisClaro);
    color: var(--primario);
}

.order .boton:hover{
    background-color: var(--primario);
    color: var(--blanco);
    border: 0.1rem solid var(--blanco);
}