.box-carrousel{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%; /* Ajusta el ancho al 90% del contenedor */
    max-width: 80rem; /* Máximo ancho, por ejemplo, 500px */
    margin: 0 auto; /* Centrar horizontalmente */
    height: auto; /* Ajusta la altura automáticamente en relación con el contenido */
    border-radius: 1rem; /* Opcional: bordes redondeados para darle un toque moderno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacarlo */
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background-color: var(--primario);
    border: none;
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.carousel-nav button:hover {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}

.carousel-indicators button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--gris);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators button.active {
    background-color: var(--primario);
}